@keyframes myAnim {
	0% {
		opacity: 0;
		transform: rotateX(70deg);
		transform-origin: top;
	}

	100% {
		opacity: 1;
		transform: rotateX(0deg);
		transform-origin: top;
	}
}


.slide-in {
    animation: myAnim 6s ease-in-out 0s 1 normal forwards;
}
