@keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateX(40px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  .fade-in {
    animation: fadeIn 2s ease-in-out forwards;
  }
  